Lists

* Like arrays, but can do more, as they are dynamic
* The slots in lists can contain any Python object
* Good at maintaining a disired ordering
* To process lists, use one of four things

In [44]:
nums = [1,2,3, "three", "four", "five"]

In [45]:
nums[-1]

'five'

In [46]:
len(nums)

6

In [47]:
for n in nums:
    print(n*2)

2
4
6
threethree
fourfour
fivefive

In [48]:
"-"*60

'------------------------------------------------------------'

In [49]:
doubles= []
for n in nums:
    doubles.append(n * 2)
doubles

[2, 4, 6, 'threethree', 'fourfour', 'fivefive']

In [50]:
doubles2 = [ n * 2 for n in nums ]
doubles2

[2, 4, 6, 'threethree', 'fourfour', 'fivefive']

In [51]:
4 in doubles2

True

In [52]:
doubles2.index(4)

1

In [53]:
doubles2[1]

4

In [54]:
doubles[ doubles.index("threethree")]

'threethree'

In [55]:
doubles.index("threethree")

3

In [56]:
"threethree" in doubles

True

## Tuple

* Like a list, but more like a record/struct, but in IMMUTABLE (cannot be changed once created)
* Much more efficient from a memory POV than last, especially when the list does not need to change
* When more functios return more than one value, they return a single tuple

In [57]:
nums = (1,2,3)

In [58]:
nums[0]

1

In [59]:
nums[-1]

3

In [60]:
len(nums)

3

In [61]:
nums[1] = "1"

TypeError: 'tuple' object does not support item assignment

In [62]:
nums = 42

In [63]:
nums

42

In [64]:
nums = (1,2,3)

In [65]:
for n in nums:
    print( n * n )

1
4
9

In [66]:
nums = ( 1, 2, 3, [ "one", "two", "three"])

In [67]:
type(nums)

tuple

In [68]:
nums

(1, 2, 3, ['one', 'two', 'three'])

In [69]:
nums[-1]

['one', 'two', 'three']

In [70]:
nums[-1] = 42

TypeError: 'tuple' object does not support item assignment

In [71]:
nums[-1].append("four")

In [72]:
nums

(1, 2, 3, ['one', 'two', 'three', 'four'])

## Sets

* Don t allow any duplicates

In [73]:
nums = [ 1, 2, 2, 2, 2, 3, 5, 4, 2, 6, 7, 9, 9 ]

In [74]:
list(set(nums))

[1, 2, 3, 4, 5, 6, 7, 9]

In [76]:
s = set(nums)

In [77]:
len(s)

8

In [78]:
for n in s:
    print(n)

1
2
3
4
5
6
7
9

In [79]:
s.add(9)

In [80]:
s

{1, 2, 3, 4, 5, 6, 7, 9}

In [81]:
print(dir(s))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

## Dictionaries

* nom/value (aka key/value) stores
* names are associated with values - essentially a lookup table (like a dictionary in the real world)
* like lists and sets, dictionaries are mutable

In [82]:
classes = {}

In [85]:
classes["G3"] = "L216"
classes["G4"] = "L217"
classes["C3"] = "UNUM Lab"

In [87]:
classes

{'G3': 'L216', 'G4': 'L217', 'C3': 'UNUM Lab'}

In [90]:
classes.keys()

dict_keys(['G3', 'G4', 'C3'])

In [89]:
for k in classes :
    print( k, " have labs in ", classes[k] )

G3  have labs in  L216
G4  have labs in  L217
C3  have labs in  UNUM Lab

In [91]:
for k, v in classes.items() :
    print(k, "have labs in", v)

G3 have labs in L216
G4 have labs in L217
C3 have labs in UNUM Lab

In [93]:
for _class, room in classes.items() :
    print(_class, "have labs in", room)

G3 have labs in L216
G4 have labs in L217
C3 have labs in UNUM Lab

In [94]:
nums

[1, 2, 2, 2, 2, 3, 5, 4, 2, 6, 7, 9, 9]

In [98]:
freqs = {}
for n in nums :
    if n not in freqs:
        freqs[n] = 0
    freqs[n] = freqs[n] + 1

In [99]:
freqs

{1: 1, 2: 5, 3: 1, 5: 1, 4: 1, 6: 1, 7: 1, 9: 2}

In [101]:
for k, v in freqs.items() :
    print(k, "appeared", v, "times.")

1 appeared 1 times.
2 appeared 5 times.
3 appeared 1 times.
5 appeared 1 times.
4 appeared 1 times.
6 appeared 1 times.
7 appeared 1 times.
9 appeared 2 times.

In [102]:
from collections import Counter

In [103]:
c = Counter(nums)

In [104]:
c

Counter({1: 1, 2: 5, 3: 1, 5: 1, 4: 1, 6: 1, 7: 1, 9: 2})

In [105]:
print(dir(freqs))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [106]:
print(dir(c))

['__add__', '__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__le__', '__len__', '__lt__', '__missing__', '__module__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_keep_positive', 'clear', 'copy', 'elements', 'fromkeys', 'get', 'items', 'keys', 'most_common', 'pop', 'popitem', 'setdefault', 'subtract', 'total', 'update', 'values']

In [107]:
c.most_common(3)

[(2, 5), (9, 2), (1, 1)]

In [108]:
from itertools import permutations

In [109]:
letters = "ABC" # A seauence of characters, aka a "string"

In [110]:
permutations(letters)

In [111]:
list(permutations(letters))

[('A', 'B', 'C'),
 ('A', 'C', 'B'),
 ('B', 'A', 'C'),
 ('B', 'C', 'A'),
 ('C', 'A', 'B'),
 ('C', 'B', 'A')]